@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* === Font === */
/* Common style */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primaryColor: #183b54;
    --secondaryColor:#40a9fd;
}
html{
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #577592;
}
.mainHeading{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--primaryColor);
}
.subHeading{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primaryColor);
}
.slogan{
    font-size: 1.6rem;
    font-weight: 700;
    color: #183b56;
}
.mainBtn{
    font-weight: 900 !important;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 1px solid var(--primaryColor);
    border-radius: 1rem;
    transition: all linear .5s;
    cursor: pointer;
    color: var(--primaryColor);
}
.mainBtn:hover{
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}
.secondBtn{
    font-weight: 900 !important;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 1rem 2rem;
    border: 1px solid var(--primaryColor);
    border-radius: 1rem;
    color: #fff !important;
    transition: all linear .5s;
    cursor: pointer;
}
.secondBtn:hover{
    border-color: var(--secondaryColor);
    background-color: var(--secondaryColor);
}
.container{
    max-width: 118rem;
    margin: 0 auto;
    padding: 0 5rem;
}
/* Common style */

/* Banner */
#banner{
    background-color:#4fb3d4;
    background-image: url(../Images/icon/banner.png);
    background-size: 20rem;
    background-position: center;
    padding: 1.5rem 0;
}
#banner .bannerContent{
    text-align: center;
}
#banner .bannerContent p {
    color: #fff;
}
#banner .bannerContent i{
    font-size: 1.5rem;
    color: #fff;
}
/* Banner */
/* Navbar */
nav{
    padding-top: 2.4rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img{
    max-width: 20rem;
    cursor: pointer;
}
.navbar .menu ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.navbar .menu ul li a{
    font-size: 1.6rem;
    font-weight: 400;
    color: #183b56;
    transition: all ease-in .5s;
}
.navbar .menu ul li a:hover{
    color: var(--secondaryColor)
}

/* Navbar */
/* Hero */
#hero{
    margin: 5rem 0;
}
.heroContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.heroText{
    flex: 50%;
}
.heroText h1{
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--primaryColor);
}
.heroText p{
    margin: 2rem 0;
}
.heroImg {
    flex: 50%;
}
.heroImg img{
    width: 100%;
}
/* Hero */
/* Company */
.company .slogan{
    text-align: center;
    margin-bottom: 3rem;
}
.companylogo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.companylogo .logo{
    height: 4rem;
}
/* Company */
/* User research */
.userResearch{
    background-image: url(../Images/BlogImages/bigbg.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 8rem 0;
}
.featureHead{
    text-align: center;
}
.featureHead button{
    margin: 2rem 0rem 4rem 0;
}
.userResearch .FeatureBoxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 5rem;
}
.featureBox p{
    margin: 2rem 0;
}

/* User research */
/* More Feature */
.moreFeature{
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}
.moreFeature .moreFeatureImg img{
   width: 100%;
}

/* More Feature */
/* Blog */
.blog{
    margin-bottom: 8rem;
}
.blogHead button{
    margin-top: 3rem;
}
.blogHead{
    text-align: center;
}
.blogPosts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogPost{
    position: relative;
    height: 30rem;
    cursor: pointer;
    overflow: hidden;
    margin-top: 3rem;
}
.blogImg{
    height: 100%;
}
.blogImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogPostText{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #030508c4;
    padding: 2rem 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    transition: all linear .5s;
}
.blogPostText p{
    color: white;
}
.blogPost:hover .blogPostText{
    left: 0;
}
/* Blog */
/* Testing */
.testing{
    background-color: #87cdff;
    text-align: center;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    margin-bottom: 8rem;
}
/* Testing */
.footerContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: end;
    justify-content: space-between;
    margin-bottom: 8rem;
}
.footerContent .logo{
    max-width: 20rem;
    justify-self: start;
}
.footerContent .logo img{
    width: 100%;
}
.footerMenu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.footerMenu li a{
    font-size: 1.6rem;
    color: var(--primaryColor);
}

/* === Responsive CSS ===  */
@media screen and (max-width:767px){
    .navbar{
        display: none;
    }
    .heroContent{
        flex-direction: column;
    }
    .heroText{
        text-align: center;
    }
    .userResearch .FeatureBoxes{
        grid-template-columns: repeat(1,1fr);
    }
    .moreFeature{
        flex-direction: column;
    }
    .moreFeatureText{
        text-align: center;
    }
    .smOrder{
        order: 1;
    }
    .blogPosts{
        justify-content: center;
        gap: 2rem;
    }
    .footerContent{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
    .footerContent .logo{
        display: none;
    }
    .footerProduct{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .navbar{
        flex-direction: column;
    }
    .navbar .logo{
        margin-bottom: 2rem;
    }
    .blogPost{
        flex-grow: 1;
    }
    .blogPosts{
        justify-content: center;
        gap: 2rem;
    }
}
@media (min-width: 1024px){
    .blogPost{
        flex-grow: 1;
    }
    .blogPosts{
        justify-content: center;
        gap: 2rem;
    }
}
/* === Responsive CSS ===  */