@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* === Font === */
/* Common style */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primaryColor: #7753be;
    --secondaryColor:#f472b6;
}
html{
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #577592;
}
.mainHeading{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--primaryColor);
}
.subHeading{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primaryColor);
}
.slogan{
    font-size: 1.6rem;
    font-weight: 700;
    color: #183b56;
}
.mainBtn{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--primaryColor);
    padding: 1rem 2rem;
    border: 1px solid var(--primaryColor);
    border-radius: 1rem;
}
.secondBtn{
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 1rem 2rem;
    border: 1px solid var(--primaryColor);
    border-radius: 1rem;
}
.container{
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 5rem;
}
/* Common style */

/* Banner */
#banner{
    background-color:#4fb3d4;
    background-image: url(../Images/icon/banner.png);
    background-size: 20rem;
    background-position: center;
    padding: 1.5rem 0;
}
#banner .bannerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#banner .bannerContent p {
    color: #fff;
    font-size: ;
}
#banner .bannerContent i{
    font-size: 1.5rem;
    color: #fff;
}
/* Banner */
/* Navbar */
nav{
    padding-top: 2.4rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img{
    max-width: 20rem;
    cursor: pointer;
}
.navbar .menu ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.navbar .menu ul li a{
    font-size: 1.6rem;
    font-weight: 400;
    color: #183b56;
    transition: all ease-in .5s;
}
.navbar .menu ul li a:hover{
    color: var(--secondaryColor)
}
.hover2:hover{
   background-color: transparent;
    
}
/* Navbar */